{% assign navurl = page.url | remove: 'index.html' %}
{% if include.childof %}
	{% assign MenuClass="submenu" %}
{% else %}
	{% assign MenuClass="mainmenu" %}
{% endif %}
<ul class="{{ MenuClass }}">
{% for item in include.nav %}
	{% assign ItemClass="" %}
	{% if item.subitems %}
		{% for subitem in item.subitems %}
			{% if subitem.url == navurl %}
				{% assign ItemClass="superCurrent" %}
			{% endif %}
		{% endfor %}
	{% endif %}
	{% if item.url == navurl %}
		{% assign ItemClass="current" %}
	{% endif %}
	<li class="menuItem {{ ItemClass }}">
		<a href="{{ site.baseurl }}{{ item.url }}">{{ item.text }}</a>
		{% if item.subitems %}
			{% include nav.html nav=item.subitems childof=item.id%}
		{% endif %}
	</li>
{% endfor %}
</ul>
