{% assign navurl = page.url | remove: 'index.html' %}
{% if include.childof %}
	{% assign subMenuClass="submenu" %}
{% else %}
	{% assign subMenuClass="mainmenu" %}
{% endif %}
<ul class="{{ subMenuClass }}">
{% for item in include.nav %}
	{% if item.url == navurl %}
		{% assign class="current" %}
	{% else %}
		{% assign class="" %}
	{% endif %}
	<li class="menuItem {{ class }}">
		<a href="{{ site.baseurl }}{{ item.url }}">{{ item.text }}</a>
		{% if item.subitems %}
			{% include nav.html nav=item.subitems childof=item.id%}
		{% endif %}
	</li>
{% endfor %}
</ul>
