---
---

@import "{{ site.theme }}";

.wrapper {
  width: 1020px;
}

section {
  width: 720px;
}

.mainmenu, .submenu {
  background: white;
  border: none;
  height: auto;
  border-radius: 0;
}

.menuItem {
  width: 100%;
  border: none;
  border-bottom: 1px #ffa816 solid;
  padding-top: 14px;
  -webkit-transition: .5s;
  display: inline-block;
  float: initial;
  height: auto;
}

.menuItem:hover > a {
  color: #ffa816;
  font-weight: bold; 
  font-size: 14px;
  -webkit-transition: 1s;
}

.menuItem > a {
  font-weight: bold;
  font-size: 13px;
  -webkit-transition: 1s;
}

.submenu {
  display: none;
  background-color: #969696;
}

.submenu .menuItem > a {
  color: white;
}

.submenu .menuItem:hover > a {
  color: #ffa816;
  font-weight: bold; 
  font-size: 14px;
  -webkit-transition: 1s;
}

.mainmenu li:hover .submenu {
  display: block;
}

.superCurrent .submenu, .current .submenu {
  background-color: #969696;
  display: block;
}

.current {
  background-color: #696969;
}

.superCurrent {
 background-color: #636363; 
}

.current a, .superCurrent a {
  color: #ffa816;
  font-weight: bold; 
  font-size: 14px;
}

.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.info {
  color: #00529B;
  background-color: #BDE5F8;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.warning {
  color: #9F6000;
  font-weight: bold;
  background-color: #FEEFB3;
}

.error {
  color: #D8000C;
  font-weight: bold;
  background-color: #FFBABA;
}

code {
  font-weight: bold;
}