---
---

@import "{{ site.theme }}";

header ul li {
  width: none;
}

header li {
  margin: 0px;
  width: 100%;
  /*height: 1vw;*/
  background: #f4f4f4;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  line-height: 1vw;
  padding: 0vw;
}

header li hover {
  background: goldenrod;
}

header li a {
  padding-left: 1vw;
}

ul ul {
  margin-left: 2vw;
  margin-bottom: 0px;
}

ul ul li {
  background: #666;
}
