---
---

@import "{{ site.theme }}";

header ul {
  border: none;
}

header ul li+li+li {
  width: 100%;
}

header li {
  margin: 0px;
  width: 100%;
  background: #f4f4f4;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  line-height: 1vw;
  padding: 0vw;
}

header li hover {
  background: goldenrod;
}

.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.info {
  color: #00529B;
  background-color: #BDE5F8;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.warning {
  color: #9F6000;
  font-weight: bold;
  background-color: #FEEFB3;
}

.error {
  color: #D8000C;
  font-weight: bold;
  background-color: #FFBABA;
}